.jumbotron {
  background-image: url('../src/logo5.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.pages {
  text-align: center;
  margin-top: 20px;
}
.avatar {
  margin-top: 25px;
    float: left;
    padding: 30px;
}

.bio {
  margin-top: 45px;
    padding: 35px;
    margin-right: 20px;
    text-align: left;
}

.contact {
  margin-top: 50px;
}

.name-input {
  width: 40%;
  margin-left: 40px;
}

.email-input {
  width: 40%;
  margin-left: 40px;
}

.message-input {
  width: 70%;
  margin-left: 40px;
}

.submit {
  margin-left: 40px;
}

.projects {
  margin-left: 20px;
  margin-right: 20px;
}

.card-deck {
  margin-bottom: 10px;
}