/* Import google fonts */
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Play|Spinnaker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel:900|Inconsolata|Josefin+Sans&display=swap");

body {
  font-family: "Nunito", sans-serif;
  color: black;

}

.main-title {
  font-family: 'Spinnaker', sans-serif;
}


.jumbotron {
  width: 100%;
}

#logo {
  width: 100%;
}

.car-title {
  font-size: 3rem;
  padding: auto;
}

.onesText {
  color: black;
  margin-bottom: 5rem;
}

.twosText {
  color: black;
  margin-bottom: 5rem;
}

.threesText {
  color: black;
  margin-bottom: 5rem;
}

#pics {
  padding-top: 7rem;
}

#decor {
  padding: 1rem;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 60%;
}

#decor:hover {
  opacity: 100%;
}


.card-title {
  text-align: center;
}

.card-text {
  padding-top: 1rem;
}

h1 {
  text-align: center;
  margin: auto;
  padding: 1rem;
}


.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.links {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  text-align: center;
}

.linked {
  background-color: transparent !important;
  border: 0rem transparent solid !important;
  color: #2867B2 !important;
  font-size: 2rem;
}

.gh {
  background-color: transparent !important;
  border: 0rem transparent solid !important;
  color: black !important;
  font-size: 2rem;
}

.insta {
  background-color: transparent !important;
  border: 0rem transparent solid !important;
  color: #e33f5f !important;
  font-size: 2rem;
}

button {
  margin: 1rem;
}

#p-about {
  padding: 4rem;
  margin: auto;
  color: white;
  font-size: 1.1rem;
}

.languages {
  width: 100%;
  margin-top: -0.5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.contact {
  margin-top: 50px;
}

#contact-form {
  margin: 2rem;
}

#form-name {
  width: 100%;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}
#form-email {
  width: 100%;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}
#form-message {
  width: 100%;
  height: 15rem;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}

#form-button {
  margin-top: 1rem;
  width: 10rem;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
}

#form-button:hover {
  background-color: lightblue;
  border: none;
}

#note {
  margin-top: 5rem;
}

.projects {
 margin: 2.3rem;
}

.card-deck {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.card-footer {
  text-align: center;
}

footer {
  border-radius: 0 !important;
  border-bottom: 0;
  background-color: #F8F8F8;
  margin: 10rem 0 0;
  height: 5rem;
  color: white;
}

/* begin media queries */ 
 @media only screen and (max-width: 479px) {
  #logo {
    width: 103%;
}
}

@media only screen and (min-width: 801px) and (min-width: 1025px) and (min-width: 1281px) {
  #form-name {
    width: 25rem;
  }
  #form-email {
    width: 25rem;
  }
}

@media only screen and (max-width: 420px) {
  .car-title {
    font-size: 0.8rem;
  }
  
  .onesText {
    color: black;
  }

  .univ {
    font-size: 0.3rem;
  }

  .deg {
    font-size: 0.2rem;
  }
  
  .twosText {
    color: black;
    margin-bottom: 0.5rem;
  }

  .services {
    font-size: 1rem;
  }
  
  .threesText {
    color: black;
   
  }

  .seek {
    font-size: 0.3rem;
    padding: 0;
  }

  .car-btn {
    font-size: 0.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .car-title {
    font-size: 1rem;
  }
  
  .onesText {
    color: black;
    margin-bottom: -1.6rem;
  }

  .univ {
    font-size: 0.8rem;
  }

  .deg {
    font-size: 0.5rem;
  }
  
  .twosText {
    color: black;
    margin-bottom: -0.6rem;
  }

  .services {
    font-size: 1rem;
  }
  
  .threesText {
    color: black;
    margin-bottom: -0.5rem;
  }

  .seek {
    font-size: 0.5rem;
    padding: 0;
  }

  .car-btn {
    font-size: 0.3rem;
  }
}

@media only screen and (min-width: 600px) {
  .car-title {
    font-size: 3rem;
  }
  
  .onesText {
    color: black;
    margin-bottom: -0.1rem;
    
  }

  .univ {
    font-size: 1.2rem;
  }

  .deg {
    font-size: 0.8rem;
  }
  
  .twosText {
    color: black;
    margin-bottom: 2rem;
  }

  .services {
    font-size: 1.2rem;
  }
  
  .threesText {
    color: black;
    margin-bottom: -0.5rem;
  }

  .seek {
    font-size: 1.2rem;
    padding-top: 0.2rem;
    
  }
}

@media only screen and (min-width: 768px) {
  .car-title {
    font-size: 3rem;
    padding: auto;
   
  }
  
  .onesText {
    color: black;
    margin-bottom: 1rem;
  }

  .univ {
    font-size: 1.7rem;
  }

  .deg {
    font-size: 1rem;
  }
  
  .twosText {
    color: black;
    margin-bottom: 3rem;
  }

  .services {
    font-size: 1rem;
  }
  
  .threesText {
    color: black;
    margin-bottom: 3rem;
  }

  .seek {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .car-title {
    font-size: 5rem;
    padding-top: 1rem;
  }
  
  .onesText {
    color: black;
    margin-bottom: 1rem;
  }

  .univ {
    font-size: 2rem;
  }

  .deg {
    font-size: 1rem;
  }
  
  .twosText {
    color: black;
    margin-bottom: 2.2rem;
  }

  .services {
    font-size: 1.5rem;
    padding: 0.3rem;
  }
  
  .threesText {
    color: black;
    margin-bottom: 4rem;
  }

  .seek {
    font-size: 1.5rem;
    padding-top: 0rem;
  }
}

@media only screen and (min-width: 1200px) {
  .car-title {
    font-size: 5rem;
    padding: auto;
  }
  
  .onesText {
    color: black;
    margin-bottom: 8rem;
  }

  .univ {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .deg {
    font-size: 1.5rem;
  }
  
  .twosText {
    color: black;
    margin-bottom: 5rem;
  }

  .services {
    font-size: 1.5rem;
    padding: 0.8rem;
  }
  
  .threesText {
    color: black;
    margin-bottom: 6rem;
  }
}