/* Import google fonts */
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");


body {
  font-family: 'Nunito', sans-serif;
}


.jumbotron {
  background-image: url('../src/logo5.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.skills {
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 100px;
}

.card-title {
  text-align: center;
}

.card-text {
  padding-top: 15px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.pages {
  text-align: center;
  margin-top: 20px;
}
.avatar {
  margin-top: 25px;
    float: left;
    padding: 30px;
}

.bio {
  margin-top: 45px;
    padding: 35px;
    margin-right: 20px;
    text-align: left;
}

.contact {
  margin-top: 50px;
}

#contact-form {
  margin-left: 100px;
  margin-top: 3rem;
}

#form-name {
  width: 30%;
  border: .5px solid gray;
  border-radius: .5rem;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#form-email {
  width: 30%;
  border: .5px solid gray;
  border-radius: .5rem;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#form-message {
  width: 50%;
  height: 15rem;
  border: .5px solid gray;
  border-radius: .5rem;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#form-button {
  width: 10rem;
  border-radius: .5rem;
}

#form-button:hover {
  background-color: lightblue;
}

.projects {
  margin-left: 40px;
  margin-right: 40px;
}

.card-deck {
  padding-top: 20px;
  margin-bottom: 10px;
}

.card-footer {
  text-align: center;
}